@* display2 Template File *@
@(tickets: List[Ticket])



<h1>Regal Ticket Agency</h1>

<a href="/"> &lt;&lt; Home </a>
<h3>All tickets booked so far</h3>

 <table border=1>
	  <tr>
	  	<th> Ticket Id</th>
	  	<th> Movie Name</th>
	  	<th> Person</th>
	  	<th> Quantity</th>
	  	<th> Action </th>
	  </tr>
  
  @if(tickets.size > 0){
  	

@for(ticket <- tickets) {
  
 
	   <tr>
	  	<td>@ticket.id</td>
	  	<td>@ticket.title</td>
	  	<td>@ticket.name</td>
	  	<td>@ticket.ticketsCount</td>
	  	<td><a href="/cancelTicket/@ticket.id"> Cancel ticket(s)</a></td>
	  </tr>
  	
}
}else{
	 <tr><td colspan =5 align="center">No tickets have been booked so far</td></tr>
}

  </table>

  