@(ticket: Form[AddTicketForm])(implicit messages: Messages)

@import helper._

@main("Book Ticket") {
	<script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

<h1>Regal Ticket Agency</h1>

<a href="/"> &lt;&lt; Home </a>

	<h2> Book Ticket</h2>
  @form(routes.PersonController.addTicket()) {
		@inputText(ticket("name"))
		@inputText(ticket("ticketsCount"))
		@inputText(ticket("title"))

		<div class="buttons">
			<input type="submit" value="Select Ticket"/>
		</div>
	}
}
